.banner {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  
  .filmes-em-destaque {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
  }

  .reforma {
    margin-bottom: 650px;
  }
